:root {
  --color-dark-primary: #212121;
  --color-white-primary: #fff;
  --color-teal-primary: #26a69a;

  --main-header-height: 10rem;
  --main-header-height-mobile: 7rem;
  --main-header-border-height: 80px;
  --main-header-border-height-mobile: 40px;
  --main-header-padding: 1.5rem 2rem;
  --main-header-padding-mobile: 12px;

  --main-column-width: 800px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: var(--color-teal-primary);
  color: var(--color-white-primary);
  font-family: "PT Sans", sans-serif;
}

.no-scroll {
  overflow: hidden;
}
