@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&&family=IBM+Plex+Sans:wght@400;500&display=swap');

:root {
    --color-dark-primary: #212121;
    --color-white-primary: #fff;
    --color-teal-primary: #26a69a;

    --main-header-height: 5rem;
    --main-header-border-height: 80px;
    --main-header-padding: 1.5rem 2rem;

    --main-column-width: 800px;
}

body {
    background-color: var(--color-dark-primary);
    color: var(--color-white-primary);
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
}

header {
    margin-bottom: 3rem;
}